<h3>ALL SESSIONS!</h3>
<% @sessions.each do |s| %>
  <h4><%= s.session_date %></h4>
  <div class="session">
    <ul>
    <% s.songs.each do |song| %>
      <li class="file"><%= link_to song.file_name, song_path(song.id) %></li>
    <% end %>
  </ul>
  </div>
<% end %>
