<h3>All Sessions
  <%= render :partial => 'sorting' %>
</h3>
<% @sessions.each do |session| %>
  <div class="session">
  <h4>
    <i class="icon-folder-open"></i>
    <%= prettify_date(session.session_date) %>
    <% if current_user && current_user.admin? %>
      <span class="delete">
        <%= link_to '<i class="icon-remove"></i>Delete this session'.html_safe, session, method: :delete, data: {confirm: "Are you sure?"} %>
      </span>
    <% end %>
  </h4>
  <%= render :partial => 'shared/song_list', :locals => { :songs => session.songs } %>
  </div>
<% end %>
