<h3>Add new sessions</h3>
<p>Please select the files on the harddrive you want to add to the Archive.</p>
<%= form_tag sessions_path, :method => :post,
      :class => "purplebox sessions-new" do %>
  <%= render :partial => 'sessions/new_sessions_fields' %>
  <%= submit_tag 'Add selected files' %>
<% end %>
