<ul class="song-list">
<% @songs.each do |song| %>
  <li>
    <i class="icon-music"></i>
    <%= link_to song.file_name, admin_song_path(song) %>
    (<%= prettify_date(song.session.session_date) %>)
    <span>
      <%= short_song_info(song) %>
      <%= link_to 'Delete this song', admin_song_path(song), method: :delete, data: {confirm: 'Are you sure?'} %>
    </span>
  </li>
<% end %>
</ul>
