<%= link_to 'Add new sessions', new_admin_session_path %>
<% unless @sessions.empty? %>
  <% @sessions.each do |session| %>
    <div class="session">
      <h4><%= prettify_date(session.session_date) %></h4>
      <%= render partial: 'shared/song_list', locals: { songs: session.songs } %>
    </div>
  <% end %>
<% else %>
  No sessions found
<% end %>
