<div class="sorting">
  Show:
  <%= link_to "Highest Score", songs_highest_score_path %>
  <%= link_to "Most Tagged", songs_most_tagged_path %>
  <%= link_to "Newest", songs_newest_path %>
  <%= link_to "Oldest", songs_oldest_path %>
</div>
