if ($("span.no-tags").length > 0)
  $("span.no-tags").addClass("invisible").text("");
$("div.song-tags p").append(
  "<span class='tag'><%=j link_to "<i class='icon-tag'></i> #{@tag.name}".html_safe, tag_path(@tag) %></span>"
);
