<h3>ALL TAGS!</h3>
<div class="tags-index">
  <p>Please click on a tag to see all files associated with it.</p>
  <p>
  <% @tags.each do |tag| %>
    <span class="tag">
      <%= link_to tag.name, tag_path(tag) %>
    </span>
  <% end %>
  </p>
</div>
