<h1 id="main-heading">HOWLING VIBES ARCHIVE</h1>
<nav id="main-nav">
  <%= link_to "sessions".upcase, sessions_path %>
  <%= link_to "songs".upcase, songs_path %>
  <%= link_to "tags".upcase, tags_path %>
</nav>
