<div id="info-bar" >
  <div id="new-comments">
    <% if comments_since_last_activity.count > 0 %>
      <ul>
        <% comments_since_last_activity.each do |comment| %>
          <li>
            <%= comment.user.name %> commented on 
            <%= link_to "#{comment.song.file_name}:", song_path(comment.song) %>
            <i><%= truncate comment.text, length: 50 %></i>
            <span class="date"><%= time_ago_in_words comment.created_at %> ago</span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
