<p>
<% if signed_in? %>
  Hello, <%= current_user.name %>
  <span id="user-controls">
  <%= link_to "Sign out", signout_path, :method => :delete %>
  </span>
<% else %>
  <span id="user-controls">
  <%= link_to "Sign in", signin_path %> or
  <%= link_to "Create an account", signup_path %>
  </span>
<% end %>
</p>
